@page
@model SGestionProductos.Pages.Producto.IndexModel
@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos</h4>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal" data-target="#mProducto">
                        <i class="mdi mdi-plus-box btn-icon-prepend"></i> Nuevo
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="tblProducto">
                        <thead>
                            <tr>
                                <th> Pr </th>
                                <th> Nombre </th>
                                <th> Descripcion </th>
                                <th> Stock </th>
                                <th> Categoria </th>
                                <th> Ac. </th>
                            </tr>
                        </thead>
                        <tbody id="tblData">
                            @* <tr>
                            <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
                            </td>
                            <td> Herman Beck </td>
                            <td>
                            <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                            <td>

                            <div class="btn-group-vertical" role="group" aria-label="Basic example">

                            <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones</button>
                            <div class="dropdown-menu" style="">
                            <a class="dropdown-item">Editar</a>
                            <a class="dropdown-item">Eliminar</a>
                            </div>
                            </div>

                            </div>
                            </td>
                            </tr>
                            *@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="mProducto" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo">Datos Producto</h5>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample">
                            <input type="hidden" id="txtId" />
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Descripcion</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="txtDes" placeholder="Descripcion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtPrecio" class="col-sm-3 col-form-label">Precio</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtPrecio" placeholder="Precio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtStock" class="col-sm-3 col-form-label">Stock</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtStock" placeholder="Stock">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="txtCategoria" class="col-sm-3 col-form-label">Categoria</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtCategoria" placeholder="Categoria">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="cmbProveedor" class="col-sm-3 col-form-label">Proveedor</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="cmbProveedor"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Pvp</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtPvp" placeholder="Pvp">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Utilidad</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtUtilidad" placeholder="Utilidad">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-icon-text" data-dismiss="modal">
                    <i class="mdi mdi-reload btn-icon-prepend"></i> Cancelar
                </button>
                <button type="button" class="btn btn-primary btn-icon-text" onclick="ValidarFormulario()">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mEliminar" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo">Desea eliminar este registro?</h5>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center" id="infoData"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-icon-text" data-dismiss="modal">
                    <i class="mdi mdi-reload btn-icon-prepend"></i> Cancelar
                </button>
                <button id="btnEliminar" type="button" class="btn btn-primary btn-icon-text" onclick="Eliminar(this)">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/producto.js"></script>
